/**************** TAG SELECTORS ******************/
body {
  margin: 0px;
}

div {
}

h1 {
  margin-top: 0px;
}

/**************** CLASS SELECTORS ******************/
.top-container {
  background-color: #E3FDFD;
}

.middle-container {
  background-color: #30E3CA;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: #11999E;
  height: 200px;
  width: 200px;
}

/**************** ID SELECTORS ******************/
