/**************** TAG SELECTORS ******************/
body {
  margin: 0px;
}

div {
}

h1 {
  margin-top: 0px;
}

/**************** CLASS SELECTORS ******************/
.Top {
  background-color: #E3FDFD
}

.Middle {
  background-color: #30E3CA;
  height: 200px;
  width: 200px;
}

.Bottom {
  background-color: #11999E;
  height: 200px;
  width: 200px;
}

/**************** ID SELECTORS ******************/
