/**************** TAG SELECTORS ******************/
body {
  margin: 0px;
  text-align: center;
}

div {
}

h1 {
  margin-top: 0px;
}

/**************** CLASS SELECTORS ******************/
.top-container {
  background-color: #E3FDFD;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #30E3CA;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: #11999E;
  height: 200px;
  width: 200px;
}

.top-cloud{
  position: absolute;
  right: 650px;
  top: 30px;
}

.bottom-cloud{
  position: absolute;
  left: 650px;
  top: 190px;
}

/**************** ID SELECTORS ******************/
