/**************** TAG SELECTORS ******************/
body {
  background-color: #E3FDFD;
}

img {
  /* Empty */
}

img:hover{
  opacity: 0.35;
}

/**************** CLASS SELECTORS ******************/
.button_round {
  border-radius: 100%
}

/**************** ID SELECTORS ******************/
